/* src/Footer.css */
.footer {
    background-color: #6a1b9a;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #dee2e6;
  }
  
  .footer-content {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
  
  .footer p {
    margin: 0;
    color: #eeeff1;
  }
  